body {
    min-width: 340px;
    width: 500px;
    max-width: 500px;  /* this was 340px to help the transition, but setting it to 500 since most people probably have it open */
    overflow-x: hidden;
    color: #3b5998;
    background-color: #eff3f7;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 8px;
    padding-left: 8px;
}
.ctrllink {
    cursor: pointer;
}
.colorbox {
    padding: 5px 10px 5px 10px;
    margin: 10px 2px 10px 2px;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 90%;
    text-align: center;
    color: #000;
}
.shadoweffect {
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: #ddd 0 1px 1px;
    -moz-box-shadow: #ddd 0 1px 1px;
    box-shadow: #ddd 0 1px 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 8px;
    position: relative;
    text-align: left;
    z-index: 3;
    margin-right: 4px;
    margin-left: 4px;
}
.fieldeffect {
    border: 1px solid #ddd;
    padding: 6px 8px 4px;
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
}
.membertitle {
    margin-bottom: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    border: 1px solid #d9d9d9;
    background-color: #eff3f7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.livingtrue {
    display: none;
}

.livingfalse {
    display: table-row;
}

.genimale {
    margin-bottom: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    border: 1px solid #d9d9d9;
    background-color: #d1e3fb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.genifemale {
    margin-bottom: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    border: 1px solid #d9d9d9;
    background-color: #fdd4e4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.geniunknown {
    margin-bottom: 3px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    border: 1px solid #d9d9d9;
    background-color: #c5fac9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin:0.4em 0;
}
.profilediv {
    font-weight: bold;
    font-size: 90%;
    width: 150px;
    vertical-align: middle;
    padding: 4px 0px;
    white-space: nowrap;
}
.familydiv {
    font-size: 90%;
}

.familydiv a {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

.expandlinks {
    cursor:pointer;
}

.familydiv a:hover{
    text-decoration: none;
}

a img {border: none; }
body,
input,
textarea,
td,
button {
    font: 13px/18px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    color: #3b5998;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.cta {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    font: bold 16px Helvetica, Arial, sans-serif;
    font-smooth: always;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing:antialiased;
    height: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;

    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    overflow: visible;
    outline: none;
}
.cta:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.cta:hover {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.cta:active {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.cta-red, .cta-green, .cta-blue, .cta-yellow {
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
}

.cta-green {
    border: solid 1px #00922d;
    background: #00b638;
    background: -webkit-gradient(linear, left top, left bottom, from(#50de76), to(#00b638));
    background: -moz-linear-gradient(top, #50de76, #00b638);
    background: -ms-linear-gradient(top, #50de76, #00b638);
    background: -o-linear-gradient(top, #50de76, #00b638);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638')";
}
.cta-green:before {
    border: 1px solid rgba(255, 255, 255, 0.35);
}
.cta-green:hover {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#5cec82), to(#00c43c));
    background: -moz-linear-gradient(top, #5cec82, #00c43c);
    background: -ms-linear-gradient(top, #5cec82, #00c43c);
    background: -o-linear-gradient(top, #5cec82, #00c43c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c')";
}
.cta-green:active {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#00b638), to(#50de76));
    background: -moz-linear-gradient(top, #00b638, #50de76);
    background: -ms-linear-gradient(top, #00b638, #50de76);
    background: -o-linear-gradient(top, #00b638, #50de76);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76')";
}

.cta-blue {
    border: solid 1px #0870c0;
    background: #4c9cff;
    background: -webkit-gradient(linear, left top, left bottom, from(#82ccff), to(#4c9cff));
    background: -moz-linear-gradient(top, #82ccff, #4c9cff);
    background: -ms-linear-gradient(top, #82ccff, #4c9cff);
    background: -o-linear-gradient(top, #82ccff, #4c9cff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#82ccff', EndColorStr='#4c9cff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#82ccff', EndColorStr='#4c9cff')";
}
.cta-blue:before {
    border: solid 1px #3bb4ec;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-blue:hover {
    color: #fff;
    border: solid 1px #065491;
    background: -webkit-gradient(linear, left top, left bottom, from(#6ddeff), to(#4fa5ff));
    background: -moz-linear-gradient(top, #6ddeff, #4fa5ff);
    background: -ms-linear-gradient(top, #6ddeff, #4fa5ff);
    background: -o-linear-gradient(top, #6ddeff, #4fa5ff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ddeff', EndColorStr='#4fa5ff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ddeff', EndColorStr='#4fa5ff')";
}
.cta-blue:active {
    color: #fff;
    border: solid 1px #065491;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c9cff), to(#82ccff));
    background: -moz-linear-gradient(top, #4c9cff, #82ccff);
    background: -ms-linear-gradient(top, #4c9cff, #82ccff);
    background: -o-linear-gradient(top, #4c9cff, #82ccff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c9cff', EndColorStr='#82ccff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c9cff', EndColorStr='#82ccff')";
}

.cta-red {
    border: solid 1px #b8473d;
    background: #f36c4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f36c4d), to(#ef3e29));
    background: -moz-linear-gradient(top, #f36c4d, #ef3e29);
    background: -ms-linear-gradient(top, #f36c4d, #ef3e29);
    background: -o-linear-gradient(top, #f36c4d, #ef3e29);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29')";
}
.cta-red:before {
    border: solid 1px #f67b5f;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-red:hover {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#fb856a), to(#f7523f));
    background: -moz-linear-gradient(top, #fb856a, #f7523f);
    background: -ms-linear-gradient(top, #fb856a, #f7523f);
    background: -o-linear-gradient(top, #fb856a, #f7523f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f')";
}
.cta-red:active {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef3e29), to(#f36c4d));
    background: -moz-linear-gradient(top, #ef3e29, #f36c4d);
    background: -ms-linear-gradient(top, #ef3e29, #f36c4d);
    background: -o-linear-gradient(top, #ef3e29, #f36c4d);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d')";
}
.cta-yellow {
    border: solid 1px #db8300;
    background: #ff9900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9900));
    background: -moz-linear-gradient(top, #ffcc00, #ff9900);
    background: -ms-linear-gradient(top, #ffcc00, #ff9900);
    background: -o-linear-gradient(top, #ffcc00, #ff9900);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#ff9900');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#ff9900')";
}
.cta-yellow:before {
    border: solid 1px #ffc63b;
    border-color: rgba(255, 255, 255, 0.35);
}
.cta-yellow:hover {
    color: #fff;
    border: solid 1px #ad6800;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd322), to(#ffa51f));
    background: -moz-linear-gradient(top, #ffd322, #ffa51f);
    background: -ms-linear-gradient(top, #ffd322, #ffa51f);
    background: -o-linear-gradient(top, #ffd322, #ffa51f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffd322', EndColorStr='#ffa51f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffd322', EndColorStr='#ffa51f')";
}
.cta-yellow:active {
    color: #fff;
    border: solid 1px #ad6800;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ffcc00));
    background: -moz-linear-gradient(top, #ff9900, #ffcc00);
    background: -ms-linear-gradient(top, #ff9900, #ffcc00);
    background: -o-linear-gradient(top, #ff9900, #ffcc00);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900', EndColorStr='#ffcc00');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900', EndColorStr='#ffcc00')";
}


.ctx {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    font: bold 16px Helvetica, Arial, sans-serif;
    font-smooth: always;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing:antialiased;
    height: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
    cursor: pointer;
    background: #fff;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    overflow: visible;
    outline: none;
}
.ctx:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.ctx:hover {

    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.55);
}
.ctx:active {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #DDDDDD; border-radius: 3px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    text-align: left;
    background-color: #44B1FA; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EBEBEB; color: #666666;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 16px; margin: 0;
    background: #FFFFFF;
    border: 1px solid #DDDDDD; border-radius: 3px;
    position: absolute; top: 0; bottom: 0; right: 32px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.malebox {
    border-radius: 50%;
    display: inline-block;
    width:7px;
    height:7px;
    border:1px solid #b4b4b4;
    background-color: #c2dcff;
    margin-bottom: -1px;
}

.femalebox {
    border-radius: 50%;
    display: inline-block;
    width:7px;
    height:7px;
    border:1px solid #b4b4b4;
    background-color: #fad2e1;
    margin-bottom: -1px;
}

.unknownbox {
    border-radius: 50%;
    display: inline-block;
    width:7px;
    height:7px;
    border:1px solid #b4b4b4;
    background-color: #bcf5c2;
    margin-bottom: -1px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #eff3f7;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    padding-top: 5px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #6c6c6c;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding-right: 10px;}

body.wait, body.wait *{
    cursor: wait !important;
}

.geopin {
    margin-top: 1px;
    margin-right: 3px;
}

.genisliderow {
    overflow:hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-top: 0px;
    display: none;
    vertical-align: top;
}

.genislideimage {
    width: 12px;
    margin-bottom: -2px;
    padding-right: 6px;
}

.genislideinput {
/*
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
    border: solid 1px #05ee4d;
    outline: none;
*/
}

.formtext {
    width: 146px;
    padding: 2px;
    background-color: #f1ffed;
    border: solid 1px #a3f58a;
    /*
    Purple
    background-color: #f3e6ff;
    border: solid 1px #c380f5;

    Blue
    background-color: #e7f3ff;
    border: solid 1px #7dc8ff;

    Pink
    background-color: #ffebf4;
    border: solid 1px #f5c8df;
    */
}

.formtext:disabled {
    background-color: #f7f7f7;
    border:1px solid #cccccc;
    padding: 2px;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}


.formselect {
    background-color: #f1ffed;
	-webkit-border-radius: 0;
	border: 0;
    height: 24px;
	outline: 1px solid #a3f58a;
	outline-offset: -1px;
}

.formselect:disabled {
    background-color: #f7f7f7;
	-webkit-border-radius: 0;
	border: 0;
	outline: 1px solid #cccccc;
	outline-offset: -1px;
}

input[type=radio] {
    background-color: #fff;
}

textarea {
    padding: 2px;
    background-color: #f1ffed;
    border: solid 1px #a3f58a;
    resize:vertical;
}

textarea:disabled {
    background-color: #f7f7f7;
    border:1px solid #cccccc;
    padding: 2px;
    -webkit-user-select: none;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}


.normalinput {
    background-color: #fff;
    border:1px solid #cccccc;
    padding: 2px;
}

.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.bounding-box {
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.actionselect {
    width: 76%;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    height: 24px;
    margin-right: 1px;
    -webkit-appearance: menulist-button;
}

.unknownselect {
    width: 76%;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    height: 24px;
    margin-right: 1px;
    -webkit-appearance: menulist-button;
}

.parentselector {
    width: 76%;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    height: 24px;
    margin-right: 1px;
    -webkit-appearance: menulist-button;
}

@font-face {
  font-family: 'genicons';
  src: url("genicons.woff") format("woff");
  font-style: normal;
  font-weight: 400
}

[data-icon]:before,
[data-genicon]:before,
[data-icon]:after,
[data-genicon]:after {
  font-family: 'genicons';
  speak: none;
  -webkit-font-smoothing: antialiased
}

[data-icon]:before {
  content: attr(data-icon)
}

[data-genicon="tree-match"]:before {
  content: "\e309"
}

[data-genicon="smart-match"]:before {
  content: "\e306"
}

[data-genicon="record-match"]:before {
  content: "\e104"
}

.icon-font {
  font-family: 'genicons'
}

.icon-alone {
  display: inline-block
}

.icon-tree-match[data-genicon] {
  color: #13547b;
  margin-right: 3px;
  display: inline-block
}

.icon-record-match[data-genicon] {
  color: #765d35;
  margin-right: 3px;
  display: inline-block
}

.icon-smart-match[data-genicon] {
  color: #4c6636;
  margin-right: 3px;
  display: inline-block
}

a.match-button,
.match-button {
  height: 37px;
  width: 65px;
  text-align: center;
  color: #333;
  font-weight: bold;
  padding-bottom: 1px;
  display: inline-block;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #f2f2f2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2)
}

a.match-button.filtered,
.match-button.filtered {
  opacity: 0.2;
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%)
}

a.match-button.filtered .value-wrap,
a.match-button.filtered .number,
.match-button.filtered .value-wrap,
.match-button.filtered .number {
  opacity: 0
}

a.match-button:not(.full):hover,
.match-button:not(.full):hover {
  text-decoration: none;
  border-color: #ccc;
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.match-buttons a.match-button.tree-match,
.match-buttons .match-button.tree-match {
  color: white;
  border-color: #056faf;
  background-color: #2ea8ef;
  text-shadow: 1px 1px 1px #056faf;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlYThlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3OTFkNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2ea8ef), color-stop(100%, #1791d7));
  background-image: -moz-linear-gradient(top, #2ea8ef, #1791d7);
  background-image: -webkit-linear-gradient(top, #2ea8ef, #1791d7);
  background-image: linear-gradient(to bottom, #2ea8ef, #1791d7);
}

.match-buttons a.match-button.tree-match:hover,
.match-buttons .match-button.tree-match:hover {
  background: #1791d7
}

.match-buttons a.match-button.record-match,
.match-buttons .match-button.record-match {
  color: white;
  border-color: #866a3b;
  background-color: #e4b066;
  text-shadow: 1px 1px 1px #866a3b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0YjA2NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkOTk0ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4b066), color-stop(100%, #cd994f));
  background-image: -moz-linear-gradient(top, #e4b066, #cd994f);
  background-image: -webkit-linear-gradient(top, #e4b066, #cd994f);
  background-image: linear-gradient(to bottom, #e4b066, #cd994f)
}

.match-buttons a.match-button.record-match:hover,
.match-buttons .match-button.record-match:hover {
  background: #cd994f;
  box-shadow: 0
}

.match-buttons a.match-button.smart-match,
.match-buttons .match-button.smart-match {
  color: white;
  border-color: #588d3b;
  background-color: #85c364;
  text-shadow: 1px 1px 1px #588d3b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1YzM2NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZlYWM0ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #85c364), color-stop(100%, #6eac4d));
  background-image: -moz-linear-gradient(top, #85c364, #6eac4d);
  background-image: -webkit-linear-gradient(top, #85c364, #6eac4d);
  background-image: linear-gradient(to bottom, #85c364, #6eac4d)
}

.match-buttons a.match-button.smart-match:hover,
.match-buttons .match-button.smart-match:hover {
  background: #6eac4d
}

.match-buttons a.match-button.no-match,
.match-buttons .match-button.no-match {
  cursor: default;
  color: white;
  background-color: #85c364;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #bbbbbb;
  background-color: #cfd1d3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmZDFkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JkYmZjMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfd1d3), color-stop(100%, #bdbfc1));
  background-image: -moz-linear-gradient(top, #cfd1d3, #bdbfc1);
  background-image: -webkit-linear-gradient(top, #cfd1d3, #bdbfc1);
  background-image: linear-gradient(to bottom, #cfd1d3, #bdbfc1);
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none
}

.match-buttons a.match-button.no-match:hover,
.match-buttons .match-button.no-match:hover {
  background: #bdbfc1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmZDFkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JkYmZjMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfd1d3), color-stop(100%, #bdbfc1));
  background-image: -moz-linear-gradient(top, #cfd1d3, #bdbfc1);
  background-image: -webkit-linear-gradient(top, #cfd1d3, #bdbfc1);
  background-image: linear-gradient(to bottom, #cfd1d3, #bdbfc1)
}

.match-buttons a.match-button [data-genicon] {
  font-weight: normal
}

.match-buttons a.match-button.tree-match [data-genicon]:before {
  font-size: 16px
}

.match-buttons a.match-button.record-match [data-genicon]:before {
  font-size: 17px
}

.match-buttons a.match-button.smart-match [data-genicon]:before {
  font-size: 14px
}

.match-buttons a.match-button [data-genicon] {
  font-size: 18px;
  margin: 0 2px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: none;
  height: 100%;
  font-weight: normal;
  line-height: 0.8
}

.match-buttons a.match-button .value-wrap {
  width: 90%;
  display: inline-block;
  height: 5px;
  background: rgba(255, 255, 255, 0.75);
  position: relative;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px
}

.match-buttons a.match-button .value-wrap .bar {
  height: 100%;
  width: 0%;
  background: #666;
  position: absolute;
  left: 0;
  right: 0;
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 0 0 20px;
  background-size: 10px 10px
}

.match-buttons a.match-button .value-wrap .bar.full {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px
}

.match-buttons a.match-button.record-match .value-wrap {
  border: 1px solid #DDBA85
}

.match-buttons a.match-button.smart-match .value-wrap {
  border: 1px solid #93C968
}

.match-buttons a.match-button.tree-match .value-wrap {
  opacity: 0
}

.match-buttons a.match-button.no-match .value-wrap {
  opacity: 0.5;
  border: none
}

.match-buttons a.match-button.tree-match:active,
.match-buttons a.match-button.record-match:active,
.match-buttons a.match-button.smart-match:active {
  -moz-box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.1)
}

.match-buttons .value-summary {
  width: 100%;
  padding-top: 5px;
  text-align: center;
  line-height: 1.4;
  font-size: 12px;
  display: none;
  word-wrap: break-word
}

.match-buttons .value-summary.shown {
  display: block
}

.match-buttons .value-summary.matches {
  text-align: left;
  margin-top: 5px;
  padding-right: 10px
}

.match-buttons .value-summary.matches.single {
  max-width: 120px
}

.match-buttons .value-summary.match_counts_html {
  padding-top: 10px;
  width: 210px;
  margin: 0 auto
}

.mh-promo-module .match-buttons a.match-button {
  width: auto !important;
  height: auto !important;
  padding: 4px 6px 4px 4px
}

.mh-promo-module .match-buttons a.match-button [data-genicon] {
  margin-right: 4px
}

#appleseed a.match-button {
  margin-right: 10px
}

#appleseed a.match-button.smart-match {
  margin-right: 0
}

.matches-counter {
  vertical-align: middle;
  display: inline-block;
  margin: 0 5px 0 5px;
  font-weight: bold;
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none
}

.matches-counter .magnifying-glass {
  font-size: 29px;
  color: #666;
  font-weight: normal
}

.matches-counter .number {
  background: #1166bb;
  color: white;
  margin: 6px 0 0 -14px;
  vertical-align: top;
  line-height: 18px;
  display: inline-block;
  padding: 0 6px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px
}

.matches-module ul li {
  position: relative;
  padding: 10px 0;
  border-bottom: solid 1px #EEE
}

.matches-module h4 .new-tag {
  vertical-align: top;
  font-size: 9px;
  padding: 1px 4px 0px 4px;
  display: inline-block;
  margin-top: -3px
}

.matches-module ul li .content {
  max-width: 200px
}

.matches-module ul li .match-buttons {
  margin-top: -2px;
  margin-bottom: 10px
}

.matches-module ul li .match-button.all-matches {
  padding: 0;
  height: 100%;
  height: 46px;
  line-height: 46px;
  min-width: 62px;
  -moz-transition: all 150ms cubic-bezier(0.115, 0.61, 0.355, 1);
  -o-transition: all 150ms cubic-bezier(0.115, 0.61, 0.355, 1);
  -webkit-transition: all 150ms cubic-bezier(0.115, 0.61, 0.355, 1);
  transition: all 150ms cubic-bezier(0.115, 0.61, 0.355, 1)
}

.matches-module ul li .match-button {
  width: 57px
}

.matches-module ul li .match-button.all-matches .text {
  vertical-align: top;
  pointer-events: none;
  margin-right: 5px
}

.matches-module ul li .match-button.all-matches .matches-counter canvas {
  margin-bottom: -2px
}

.matches-module ul li .match-button.all-matches .matches-counter .magnifying-glass {
  font-size: 24px
}

.matches-module ul li .match-button.all-matches .matches-counter .number {
  font-size: 12px
}

.matches-module ul li .match-button.all-matches .match-buttons {
  display: none;
  float: left;
  font-size: 13px
}

.matches-module ul li .match-button.all-matches .close {
  display: none;
  position: absolute;
  top: 2px;
  right: 1px;
  font-size: 15px;
  height: 10px;
  line-height: 1;
  color: #999
}

.matches-module ul li .match-button.all-matches .close:hover {
  color: #666
}

.matches-module ul li .match-button.all-matches .new-tag {
  display: none
}

/* Style the tab */
div.tab {
    overflow: hidden;
    margin-top: 10px;

    border: 1px solid #b6b6bc;
    background-color: #f1f1f6;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #dddde2;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccccd2;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding-top: 3px;
    padding-bottom: 5px;
}