body {
    min-width: 335px;
    overflow-x: hidden;
    color: #3b5998;
    background-color: #eff3f7;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 8px;
    padding-left: 8px;
}
.colorbox {
    float: left;
    padding: 5px 10px 5px 10px;
    margin: 10px 2px 10px 2px;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 90%;
    text-align: center;
    color: #000;
}
.shadoweffect {
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: #ddd 0 1px 1px;
    -moz-box-shadow: #ddd 0 1px 1px;
    box-shadow: #ddd 0 1px 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 8px;
    position: relative;
    text-align: left;
    z-index: 3;
    margin-right: 4px;
    margin-left: 4px;
}
.fieldeffect {
    border: 1px solid #ddd;
    padding: 6px 8px 4px;
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
}
.membertitle {
    margin-bottom: 3px;
    padding-bottom: 1px;
    padding-top: 1px;
    border: 1px solid #d9d9d9;
    background-color: #eff3f7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin:0.4em 0;
}
.profilediv {
    font-weight: bold;
    font-size: 90%;
    vertical-align: middle;
    padding: 4px 0px;
    white-space: nowrap;
}
.familydiv {
    font-size: 90%;
}

.familydiv a {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

.expandlinks {
    cursor:pointer;
}

.familydiv a:hover{
    text-decoration: none;
}

a img {border: none; }
body,
input,
textarea,
td,
button {
    font: 13px/18px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    color: #3b5998;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.cta {
    float: right;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    font: bold 16px Helvetica, Arial, sans-serif;
    font-smooth: always;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing:antialiased;
    height: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;

    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    overflow: visible;
    outline: none;
}
.cta:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.cta:hover {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.cta:active {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.cta-green {
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
}

.cta-green {
    border: solid 1px #00922d;
    background: #00b638;
    background: -webkit-gradient(linear, left top, left bottom, from(#50de76), to(#00b638));
    background: -moz-linear-gradient(top, #50de76, #00b638);
    background: -ms-linear-gradient(top, #50de76, #00b638);
    background: -o-linear-gradient(top, #50de76, #00b638);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638')";
}
.cta-green:before {
    border: 1px solid rgba(255, 255, 255, 0.35);
}
.cta-green:hover {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#5cec82), to(#00c43c));
    background: -moz-linear-gradient(top, #5cec82, #00c43c);
    background: -ms-linear-gradient(top, #5cec82, #00c43c);
    background: -o-linear-gradient(top, #5cec82, #00c43c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c')";
}
.cta-green:active {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#00b638), to(#50de76));
    background: -moz-linear-gradient(top, #00b638, #50de76);
    background: -ms-linear-gradient(top, #00b638, #50de76);
    background: -o-linear-gradient(top, #00b638, #50de76);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76')";
}

.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #DDDDDD; border-radius: 3px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 15px; padding: 0; line-height: 15px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #44B1FA; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EBEBEB; color: #666666;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 16px; margin: 0;
    background: #FFFFFF;
    border: 1px solid #DDDDDD; border-radius: 3px;
    position: absolute; top: 0; bottom: 0; right: 32px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}